<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style type="text/css">
  h3.display-4 {
      /* text-align: center; */
      padding: 10px;
      font-size: 30px;
  }
  .container-members {
    display: flex;
  }
  .member-img {
    border-radius: 50%;
    width: 120px;
  }
  .member-desc {
    width: 550px;
  }
  .container-members .item {
    margin: 10px;
  }
  .whereabouts > ul {
      margin: 0px;
      padding: 0px;
  }
  .whereabouts > ul > li {
      list-style-type: none;
  }
</style>

<h3 class='display-4'>Professor</h3>
<div class="container-members">
    <div class="item member-img">
        <img src="https://s3-ap-northeast-1.amazonaws.com/ojuz-attach/profile/images/GioChkhaidze" alt="profile-img">
    </div>
    <div class="item member-info">
        <h4 class='member-name'>최영우</h4>
        <div class='member-desc text-secondary'>Professor at Sookmyung Women's University</div>
        <div class="whereabouts">
            <ul>
                <li>(02) 710-9763</li>
                <li>새힘관 409호</li>
                <li>ywchoi@sookmyung.ac.kr</li>
            </ul>
        </div>
    </div>
</div>
<hr>

<h3 class='display-4'>Post Doctoral Researchers & Graduate Students</h3>
<div class="container-members">
    <div class="item member-img">
        <img src="https://s3-ap-northeast-1.amazonaws.com/ojuz-attach/profile/images/GioChkhaidze" alt="profile-img">
    </div>
    <div class="item member-info">
        <h4 class='member-name'>고수연</h4>
        
        <div class="whereabouts">
            <ul>
                <li>email@sookmyung.ac.kr</li>
            </ul>
        </div>
    </div>
</div>
<hr>

<h3 class='display-4'>Undergraduate Students</h3>
<div class="container-members">
    <div class="item member-img">
        <img src="https://s3-ap-northeast-1.amazonaws.com/ojuz-attach/profile/images/GioChkhaidze" alt="profile-img">
    </div>
    <div class="item member-info">
        <h4 class='member-name'>고은서</h4>
        
        <div class="whereabouts">
            <ul>
                <li>email@sookmyung.ac.kr</li>
            </ul>
        </div>
    </div>
</div>
<div class="container-members">
    <div class="item member-img">
        <img src="https://s3-ap-northeast-1.amazonaws.com/ojuz-attach/profile/images/GioChkhaidze" alt="profile-img">
    </div>
    <div class="item member-info">
        <h4 class='member-name'>김주휘</h4>
        
        <div class="whereabouts">
            <ul>
                <li>email@gmail.com</li>
            </ul>
        </div>
    </div>
</div>
<div class="container-members">
    <div class="item member-img">
        <img src="https://s3-ap-northeast-1.amazonaws.com/ojuz-attach/profile/images/GioChkhaidze" alt="profile-img">
    </div>
    <div class="item member-info">
        <h4 class='member-name'>이수현</h4>
        
        <div class="whereabouts">
            <ul>
                <li>suhyuntwin@gmail.com</li>
            </ul>
        </div>
    </div>
</div>
<hr>

<h3 class='display-4'>Alumni</h3>
<div class="container-members">
    <div class="item member-info">
        <h4 class='member-name'>이소정</h4>
        <div class='member-desc text-secondary'>Undergraduate student, Computer Science, 2019-2020</div>
    </div>
</div>
<hr>