---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.hero_img }}">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.title | escape }}</h1>
        <p class="hero__meta">{{ site.tagline }}</p>
      </div>
    </div>

    <main class="site__content">
      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">
            <!-- 인공지능 및 시각정보처리연구실 설명 -->
            {{ content }}
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>

</html>
